.contact-section {
  background: #f0fdf4;
  padding: 80px 20px;
  text-align: center;
  animation: heartbeatIn 1.2s ease-in-out;
}


@keyframes heartbeatIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.contact-header {
  margin-bottom: 3rem;
}

.contact-header h2 {
  font-size: 2.2rem;
  color: #0ea5e9;
  margin-bottom: 0.5rem;
}

.contact-header p {
  font-size: 1.1rem;
  color: #475569;
}


.contact-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}


.contact-card {
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.07);
}


.contact-left {
  background: white;
}

.contact-left h3 {
  margin-bottom: 20px;
  color: #0f172a;
}

.contact-left form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-left input,
.contact-left textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-left button {
  background: #22c55e;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-left button:hover {
  background: #16a34a;
}


.contact-right {
  background: #0ea5e9;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.contact-right h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.company-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.contact-right p {
  font-size: 14px;
  margin: 6px 0;
}


.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
}

.social-icons a {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: white;
  color: #0ea5e9;
}
