/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  background: white; 
  
  


}

#root {
  min-height: 100%;
  overflow-x: hidden;
}

.app {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
} */
