* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent I !important;
}

body, html, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: transparent; 
}
body {
  margin: 0;
  padding: 0;
  background: transparent;
}

