* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: fit-content!important ;
  background: transparent;
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
   height: fit-content!important ;
}

h1, h2, h3, .about-title, .services-title {
  font-family: 'Space Grotesk', sans-serif;
}
